html{
    font-family: 'Comfortaa', sans-serif;
}
body{
    margin: 0;
}
header {
    position: sticky;
    top: 0px;
}
.h-container{
    width: auto;
    height: 100px;
    background-color: black;
    display: grid;
    border-bottom: #FFFFFF 1px solid;
}
.h-nav-container a{
    text-decoration: none;
    color: white;
    float: left;
    margin: 3% 0.5% 0 3%;
    font-size: 20px;
    max-height: 50px;
}
.h-nav-container a:hover{
    transform: scale(1.2);
    color: #00FFF5;
    transition: transform 0.3s ease, color 0.3s ease;
}
.h-below-container h1{
    color: #00FFF5;
    margin-left: 20%;
    margin-top: 15%;
}
.h-below-container p{
    color: white;
    margin-left: 15%;
    line-height: 25px;
}
.pdp{
    width: 50%;
    margin-left: 25%;
}

#scrollToTopButton {
    opacity: 1;
    position: fixed;
    bottom: 2vh;
    right: -8vw;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.retour_haut{
    width: 25%;
    background-color: #000000;
    border-radius: 50%;
}

.retour_haut:hover{
    transform: scale(0.9);
    transition: transform 0.25s;
}
#jvsubv{
    margin-left: 17%;
}
.body-container-i1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
    color:#FFFFFF;
    background-color: #000000;
}
.body-container-i1 h1{
    color: white;
    text-align: center;
    margin-top: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.body-container-i1 p{
    margin: 0 0 10px 100px;
}
.body-container-i1 img{
    margin-top: 80px;
}
.grad{
    width: 70%;
    margin-top:8%;
    margin-left: 25%;
}
.black{
    height: 10%;
    width: 90%;
    background-color: #000000;
    text-align: center;
    border-radius: 20px;
}